body{
    font-family: 'Rubik';
    font-weight: 400;
    color: $white; 
    letter-spacing: 1px;
    font-size: 16px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 1439px){
    	max-width: 1200px;
    }
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;

	.footer{
		flex: none;
		margin-top: auto;
	}
}