body{
    font-family: 'Rubik';
    font-weight: 400;
    color: $white; 
    letter-spacing: 1px;
    font-size: 16px;
    background-color: black;
}

.container{
    max-width: 1485px;
    margin: 0 auto;
}

@media(max-width:1500px){
    .container{
        padding: 0 34px;
    }
}