$darkBlue: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #232959 0%, #232959 0.01%, #1E1E40 100%);;
$white: #fff;
$ywGradient:linear-gradient(114.73deg, #F0891A 11.62%, #EAC632 94.61%);