.btn{
    display: block;
    text-align: center;
    cursor: pointer;
    transform: skew(-10deg);
    background: $ywGradient;
    border: none;
    font-family: "Rubik";
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    color: #1F2147;

    span{
        display: inline-block;
        transform: skew(10deg);
    }
}