.btn{
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 14px 66px 12px 70px;
    transform: skew(-10deg);
    background: $ywGradient;
    border: none;

    span{
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.6;
        color: #1F2147;
        transform: skew(10deg);
    }
}