.header-section {
    text-align: center;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 61px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='62' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.236 0H61.5l-5.236 5H0l5.236-5Z' fill='url(%23a)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' y1='1.842' x2='2.253' y2='14.604' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0891A'/%3E%3Cstop offset='1' stop-color='%23EAC632'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }
}
.header-section__title {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    color: #A5A5A5;
}
.header-section__subtitle {
    font-style: italic;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.6;
    color: #323232;
}