.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $darkBlue;
        transition: opacity .5s linear;
        opacity:0;
    }
}

.header.active::before{
    opacity:1;
}
.header__wrapper{
    max-width: 1410px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    position: relative;
    border-bottom: 1px solid #4E537D;
    transition: border .4s;
}

.header__wrapper.active{
    border-bottom: 0px solid #4E537D;
}

.header__location-text {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    position: relative;
    padding-right: 18px;

    &::before{
        content: "";
        position: absolute;
        top: 4px;
        right: 0;
        width: 17px;
        height: 17px;
        background-image: url(../../../images/maps-and-flags.svg);
    }
}
.header__nav {
    ul{
        display: flex;
        align-items: center;
        // margin-left: 9.8vw;
        li{
            &:not(:first-child){
                margin-right: 2.59vw;
            }
        }
        a{
            font-size: 14px;
            line-height: 1.6;
            transition: all .6s;
            padding-bottom: 30px;
            position: relative;
            z-index: 5;
            

            &:hover{
                color:#EB8C1B;
                border-bottom: 1px solid #EB8C1B;
            }
        }
    }
}

.header__menu-btn{
    display: none;
}

@media(max-width:940px){
    .header{
        background: $darkBlue;
    }
    .header__wrapper{
        border-bottom: none;
    }
    .header__location{
        display: none;
    }
    .header__menu-btn{
        display: block;
    }
    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 68px;
        right: 0%;
        background: $darkBlue;
        padding-right: 35px;
        padding-left: 35px;
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li{
                width: 100%;
                padding-top: 17px;
                padding-bottom: 17px;
                &:not(:first-child){
                    margin-right: 0vw;
                    border-top: 1px solid rgba(238, 238, 238, 0.1);
                }
            }
            a{
                font-size: 16px;
            }
        }
    }
}